<div id="company">
  <div class="company-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-5 col-lg-offset-4">
            <h1 class="brand-heading slideanim"><%= t('.the_company') %></h1>
            <hr>
            <p class="intro-text slideanim">
              <i>
                <p>
                  <%= t('.company_description_01') %>
                </p>

                <p>
                  <%= t('.company_description_02') %>
                </p>

                <p>
                  <%= t('.company_description_03') %>
                </p>
              </i>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
