<div id="intro" class="container-fluid">
  <div class="row">
    <div class="intro-background col-sm-12">
      <div class="col-sm-12">
          <h1 class="brand-heading">MG FINE PRODUCTS</h1>
          <hr  class="primary slideanim" align="left">
          <p class="intro-text slideanim">
            <i>
            <%= t('.export_exclusive_products') %>
          </br>
            <%= t('.directly') %>
          </i>
          </p>
      </div>
      <div class="col-sm-12">
      <div class="intro-btn-icon">
        <p><%= t('.more') %></p>
        <a href="#products" class="btn btn-circle page-scroll slideanim">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
<% if false%>
           <%= link_to (fa_icon "angle-double-down"), "#products", class:"btn-circle page-scroll" %>
<% end %>
      </div>
    </div>
    </div>
  </div>
</div>
