<div id="products" >
<!--
  <h1 class="brand-heading text-center">NOSSOS PRODUTOS</h1>
-->
    <div class="content-section-a">

      <!-- Container Aceite -->
        <div class="container">
                  <div class="row slideanim">
                    <div class="col-lg-6">
                      <div class="col-lg-12">
                        <div class="icones-produtos">
                          <%= image_tag("icones-produtos/olivas.png", alt: "Aceite") %>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <h1 class="text-center"><%= t('.olive_oil') %></h1>
                        <hr class="primary" align="center">
                        <p class="lead">
                          <i>
                            <%= t('.olive_oil_description') %>
                          </i>
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <%= image_tag("produtos/aceite.jpg") %>
                    </div>
                  </div>
            </div>
        <!-- End Aceite -->
    </div>
  <!-- end content-section a -->
  <div class="content-section-a">

      <!-- Container Vinhos -->
        <div class="container">
                  <div class="row slideanim">
                      <div class="col-lg-6 col-lg-push-6">
                          <div class="col-lg-12">
                            <div class="icones-produtos">
                              <%= image_tag("icones-produtos/uvas.png", alt: "Uvas", class:"img-responsive") %>
                            </div>
                          </div>
                          <div class="col-lg-12">
                            <h1 class="text-center"><%= t('.wines') %></h1>
                            <hr class="primary" align="center">
                            <p class="lead">
                              <i>
                                  <%= t('.wines_description') %>
                              </i>
                            </p>
                          </div>
                      </div>
                      <div class="col-lg-6 col-lg-pull-6">
                        <div class="img-produtos">
                          <%= image_tag("produtos/wine_farm_sunset.jpg", alt:"Pistaches", class:"img-responsive") %>
                        </div>
                      </div>

                  </div>
         </div>
        <!-- End Container Vinhos -->
    </div>
    <!-- end content-section a -->

    <div class="content-section-b">
        <!-- Container Laminas Kobe -->
        <div class="container">
                <div class="row slideanim">

                  <div class="col-lg-6">
                      <div class="col-lg-12">
                        <div class="icones-produtos">
                          <%= image_tag("icones-produtos/kobe.png", alt: "Aceite") %>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <h1 class="text-center"><%= t('.kobe_blades') %></h1>
                        <hr class="primary" align="center">
                          <i>
                            <p class="lead">
                              <%= t('.kobe_blades_description_01') %>
                            </p>
                            <p class="lead">
                              <%= t('.kobe_blades_description_02') %>
                            </p>
                            <p class="lead">
                              <%= t('.kobe_blades_description_03') %>
                            </p>
                          </i>

                      </div>
                  </div>
                  <div class="col-lg-6">
                    <%= image_tag("produtos/laminas-kobe.jpg") %>
                  </div>
                </div>
        </div>
      <!-- End container Laminas Kobe -->
    </div>
      <!-- end content-section b -->
</div>
