<%= render "index" %>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="contact-section slideanim"><%= t('.contact') %></h1>
        <hr>
        <p class="slideanim"><i><%= t('.send_us_message') %></i></p>
        <br>

        <%= render 'layouts/messages' %>

        <br>
      </div>
      <div class="contact-form row text-center">
        <div class="col-lg-6 text-right">

                <%= simple_form_for @visitor, :url => { :action => "create" , :anchor => "contact" },
                                            :html => {:class => 'form-horizontal' } do |f| %>

                  <%= f.input :name, label:'', :required => true, placeholder: t('.visitor_name') %>
                  <%= f.input :email, label:'', :required => true, placeholder: t('.visitor_email') %>
                  <%= f.input :message, label:'', :as => :text, :required => true, placeholder: t('.visitor_message'), :input_html => {rows: 10, cols: 50, minlength:4, maxlength: 500}  %>
                  <div class= "hidden">
                    <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                  </div>
                  <div>
                    </br>
                    <%= f.button :submit, t('.send'), :class=> "btn btn-custom" %>
                  </div>
                <% end %>
        </div>
        <div class="col-lg-6 text-left slideanim">
            <h6><%= t('.spain') %></h6>
            <p><small>Donostia-San Sebastián</small></p>
            <p><small>T.: +34 653 251 451 - Rodrigo Martins</small></p>
            <p><small>T.: +34 638 309 009 - Borja Gonzalez</small></p>
            <small>E.: <a href="mailto:info@mgfineproducts.com">info@mgfineproducts.com</a></small>

            <br>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
