@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Crimson+Text:400,400italic,600,600italic,700,700italic);
/* mixins, variables, etc. */
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Bold.ttf") format("Montserrat-Bold.ttf");
}
@font-face {
  font-family: 'BodoniFLF-Roman';
  src: url("./fonts/BodoniFLF-Roman.ttf") format("BodoniFLF-Roman.ttf");
}
@font-face {
  font-family: 'BodoniFLF-Italic';
  src: url("./fonts/BodoniFLF-Italic.ttf") format("BodoniFLF-Italic.ttf");
}
@font-face {
  font-family: 'MomsDiner';
  src: url("./fonts/MomsDiner.ttf") format("MomsDiner.ttf");
}
/*custom colors*/
$custom-olive: #919169;
$custom-gray: #c8c8c8;

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

/* Body */
body{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', 'BodoniFLF-Italic','Crimson Text', Arial, sans-serif;
}

html{
  width: 100%;
  height: 100%;
}

.hidden{
    display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: bold;

}

p{
  font-family: BodoniFLF-Italic;
  letter-spacing: 0.5px;
  font-size: 16px;
}
hr{

  max-width: 50px;
  border-color: $custom-olive;
  border-width: 5px;
}
/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

/* Navbar Partial */

.navbar {
    /* padding-top: 18px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: black !important;
    background-color: rgba(255, 255, 255, 0);
}

.navbar-nav li a:hover, .navbar-nav li.active a {
      color: $custom-olive !important;
      background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
    */
}

.locale {
    float: right;
    margin: -0.25em 0.1em;
}
.intro-background{

    min-height: 100vh;
    padding: 150px 0 0 50px;
    color: white;
    text-align: left;
    background: url(portada/portada.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    /* background-attachment: fixed; */

    .brand-heading{
      /* font-family: Montserrat; */

    }
   .intro-text{
     font-family: "BodoniFLF-Italic";
     font-size: 20px;
   }

}
.intro-btn-icon {
    text-align: center;
    padding-top: 150px;
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;

}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.content-section-a {
    padding: 50px 0;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.icones-produtos img{
  width: 140px;
  height: auto;
}

.company-section{
  padding: 100px 0;
  background-color: $custom-gray;

}

footer{
  background-color: $custom-olive;
  margin-top: 30px;
  p{
    color: $custom-gray;
  }
  .glyphicon {
    padding-top: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    color: $custom-gray;
  }
}


.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/* Simple Form */
.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    float: center;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
  }
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label {
  float: none;
  margin: 0;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }

  .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
}

.contact-section{
  padding: 35px;
}
.contact-form{
  .btn-custom{
    background-color: $custom-olive;
    color: white;
  }
}

.flash_msg{
  background-color: #ff3333;
  background-color: rgba(255, 51, 51, 0.8);
}
