
<footer class="container-fluid text-center slideanim">
  <a href="#intro" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
    <p><small><%= t('.made_by') %><a href="mailto:romenigld@gmail.com"> Romenig L. Damasio </a><%= t('.as_web_dev') %>
      <br>
        <%= t('.and') %>
      <br>
      <a href="mailto:josesabinojr@mail.com">José Sabino </a><%= t('.as_graphic_design') %></small></p>

  </p>
</footer>
