<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar navbar-brand">
          <%= link_to image_tag("logo_mg_cores.png", alt: "Logo MG Fine Products", class:"img-responsive", width:"70", height:"190"),  "#intro", id: "logo" %>
      </div>
    </div>
    <div class="collapse navbar-collapse pull-right" id="myNavbar">
      <ul class="nav navbar-nav navbar-right text-right">
        <li><a href="#intro"><%= t('.home') %></a></li>
        <li><a href="#products"><%= t('.products') %></a></li>
        <li><a href="#company"><%= t('.company') %></a></li>
        <li><a href="#contact"><%= t('.contact') %></a></li>
      </ul>
    </div>
    <%= form_tag root_path, class: 'locale' do %>
          <%= select_tag 'set_locale',
            options_for_select(LANGUAGES, I18n.locale.to_s),
            onchange: 'this.form.submit()' %>
          <%= submit_tag 'submit' %>
          <%= javascript_tag "$('.locale input').hide()" %>
        <% end %>

  </div>
</nav>
