<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>MG Fine Products</title>
   <link rel="icon" type="image/png" href="/assets/logo_mg_cores.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'https://www.google.com/fonts#UsePlace:use/Collection:Montserrat:700,400|Crimson+Text:400,600,400italic,600italic,700,700italic', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'layouts/shim' %>

</head>
<body>
  <header>
    <%= render "layouts/navbar" %>
  </header>
    <div class="container-fluid">
      <%= yield %>
      <%= render "layouts/footer" %>
      <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
